.main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(27, 105, 214);
  /* background-color: rgb(37, 0, 116); */
}

.mainContainer {
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: fit-content;
  margin: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading {
  margin-left: 0.8rem;
  color: white;
  font-style: italic;
  align-items: center;
}

.logo {
  border-radius: 50%;
}

.content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.txt {
  text-align: left;
  margin: 0rem 1rem;
}

.loginContainer {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.loginTitle {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.loginBtns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0.5;
  justify-content: center;
}

.loginBtn,
.signupBtn {
  text-align: center;
  font-size: 1rem;
  padding: 0.75rem;
  width: 8rem;
  margin: 0.75rem;
  background-color: rgb(27, 105, 214);
  border-radius: 0.5rem;
}

.fadeIn {
  animation: fadeIn 1.5s ease-out; /* Adjust duration and timing function as needed */
}